# Скомпилированные файлы
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Директории сборки
Backend/Thrones-Systems/build/
Backend/Thrones-Systems/bin/
Backend/Thrones-Systems/obj/
Backend/Thrones-Systems/out/
Backend/Thrones-Systems/Debug/
Backend/Thrones-Systems/Release/
Backend/Thrones-Systems/x64/
Backend/Thrones-Systems/Thrones-Systems.dir/
Backend/Thrones-Systems/Thrones-Systems

# Файлы IDE
.enc_temp_folder/
.vscode/
.idea/
.vs/  # Игнорируем папку .vs
*.sublime-workspace
*.sublime-project

# Visual Studio
*.vcxproj.user
*.vcxproj.filters
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.ipch/
*.opensdf
*.sdf
*.cache
*.dbmdl
*.VC.db
*.VC.opendb
*.tlog/
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.log
*.aps
*.ncb
*.sbr
*.sdf
*.opendb
*.VC.db
*.VC.opendb
*.vscode/
*.vs/
*.DS_Store
Thumbs.db

# Файлы CMake
CMakeSettings.json
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Артефакты сборки
ALL_BUILD.vcxproj*
ZERO_CHECK.vcxproj*
DorsApp.vcxproj*
DORSHW.vcxproj*

# Логи
*.log
*.dmp
*.stackdump

# Другие временные файлы
*.tmp
*.temp
*.bak
*.orig
*.swp
*.~*
*.pyc
*.pyo
*.pyd
*.class
*.DS_Store

# Игнорировать локальные настройки
*.local
*.env
.env
